<section class="main" [class.hidden]="isTaskListEmpty$ | async">
  <input
    type="checkbox"
    id="toggle-all"
    class="toggle-all"
    (change)="toggleAllTasks($event)"
    [checked]="isAllTasksSelected$ | async"
  />
  <label for="toggle-all">Mark all as completed</label>
  <ul class="todo-list">
    <app-task
      *ngFor="let task of visibleTasks$ | async"
      [task]="task"
      [isEditing]="editingId === task.id"
      (setEditingIdEvent)="setEditingId($event)"
    ></app-task>
  </ul>
</section>
