<li [class.editing]="isEditing">
  <div class="view">
    <input
      type="checkbox"
      class="toggle"
      [checked]="task.isCompleted"
      (change)="toggleSingleTask(task.id)"
    />
    <label (dblclick)="setTaskInEditMode()"> {{ task.text }} </label>
    <button class="destroy" (click)="removeTask(task.id)"></button>
  </div>

  <ng-container *ngIf="isEditing">
    <input
      #textInput
      type="text"
      class="edit"
      [value]="editingText"
      (keyup)="changeText($event)"
      (keyup.enter)="changeTask()"
    />
  </ng-container>
</li>
