<footer class="footer" [class.hidden]="isTaskListEmpty$ | async">
  <span class="todo-count">
    <strong> {{ activeTasksLength$ | async }} </strong>
    {{ itemsLeftText$ | async }}
  </span>
  <ul class="filters">
    <li>
      <a
        [class.selected]="(filter$ | async) === filterEnum.all"
        (click)="changeFilter(filterEnum.all)"
        >All</a
      >
    </li>
    <li>
      <a
        [class.selected]="(filter$ | async) === filterEnum.active"
        (click)="changeFilter(filterEnum.active)"
        >Active</a
      >
    </li>
    <li>
      <a
        [class.selected]="(filter$ | async) === filterEnum.completed"
        (click)="changeFilter(filterEnum.completed)"
        >Completed</a
      >
    </li>
  </ul>
</footer>
